-- MySQL dump 10.13  Distrib 5.6.25, for Win64 (x86_64)
--
-- Host: localhost    Database: ian2
-- ------------------------------------------------------
-- Server version	5.6.25

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `ian2`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `ian2` /*!40100 DEFAULT CHARACTER SET latin1 */;

USE `ian2`;

--
-- Table structure for table `formed`
--

DROP TABLE IF EXISTS `formed`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `formed` (
  `formedID` int(11) NOT NULL AUTO_INCREMENT,
  `formedYear` int(11) DEFAULT NULL,
  `formedCity` varchar(30) DEFAULT NULL,
  `formedSplit` int(11) DEFAULT NULL,
  PRIMARY KEY (`formedID`)
) ENGINE=InnoDB AUTO_INCREMENT=1997 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `formed`
--

LOCK TABLES `formed` WRITE;
/*!40000 ALTER TABLE `formed` DISABLE KEYS */;
INSERT INTO `formed` VALUES (1991,0,'',2000),(1994,0,'0',0),(1996,0,'0',0);
/*!40000 ALTER TABLE `formed` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `music`
--

DROP TABLE IF EXISTS `music`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `music` (
  `musicID` int(11) NOT NULL AUTO_INCREMENT,
  `musicName` varchar(30) DEFAULT NULL,
  `musicDescription` varchar(30) DEFAULT NULL,
  `statusID` int(11) DEFAULT NULL,
  PRIMARY KEY (`musicID`),
  KEY `statusID` (`statusID`),
  CONSTRAINT `music_ibfk_1` FOREIGN KEY (`statusID`) REFERENCES `status` (`statusID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `music`
--

LOCK TABLES `music` WRITE;
/*!40000 ALTER TABLE `music` DISABLE KEYS */;
INSERT INTO `music` VALUES (1,'All That Remains','Metal',1),(2,'Bowling For Soup','Pop Punk',1),(3,'Korn','Nu-Metal',1),(4,'Disturbed','Heavy Metal',1),(5,'Rage Against the Machine','Rap Metal',2),(6,'The Offspring','Rock',1),(7,'Beatles','Rock',2);
/*!40000 ALTER TABLE `music` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status`
--

DROP TABLE IF EXISTS `status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `status` (
  `statusID` int(11) NOT NULL AUTO_INCREMENT,
  `statusName` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`statusID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status`
--

LOCK TABLES `status` WRITE;
/*!40000 ALTER TABLE `status` DISABLE KEYS */;
INSERT INTO `status` VALUES (1,'Together'),(2,'Broke up');
/*!40000 ALTER TABLE `status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `touring`
--

DROP TABLE IF EXISTS `touring`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `touring` (
  `statusID` int(11) DEFAULT NULL,
  `formedID` int(11) DEFAULT NULL,
  `futureMetadata` blob,
  UNIQUE KEY `pkTouring` (`statusID`,`formedID`),
  KEY `formedID` (`formedID`),
  CONSTRAINT `touring_ibfk_1` FOREIGN KEY (`statusID`) REFERENCES `status` (`statusID`),
  CONSTRAINT `touring_ibfk_2` FOREIGN KEY (`formedID`) REFERENCES `formed` (`formedID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `touring`
--

LOCK TABLES `touring` WRITE;
/*!40000 ALTER TABLE `touring` DISABLE KEYS */;
INSERT INTO `touring` VALUES (0,NULL,NULL);
/*!40000 ALTER TABLE `touring` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2015-08-12 21:23:09
